* {
  margin: 0;
  padding: 0;
}
body {
  width: 95%;
  margin: auto;
  font-family: "Poppins", sans-serif;
}
/* navbar start */
nav {
  display: flex;
  height: 50px;
  width: 100%;
  background: rgba(245, 245, 245, 0.295);
  margin: 0 auto;
  text-align: center;
}
#logo {
  width: 100%;
}
#menue {
  width: 100%;
}
#menue ul {
  list-style-type: none;
  margin-top: 5px;
  padding-left: 200px;
}
#menue ul > li {
  float: left;
  padding: 10px;
  text-align: center;
}

#menue ul > li > a {
  display: block;
  color: black;
  text-align: center;
  padding: 10px;
  text-decoration: none;
}
#menue ul > li > a:hover,
#contact {
 background: linear-gradient(
    to right,
    rgb(223, 191, 9),
    rgba(212, 94, 15, 0.603)
  );
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 20px;
}

#menue ul > li > #contact {
  background: linear-gradient(
    to right,
    rgb(223, 191, 9),
    rgba(212, 94, 15, 0.603)
  );
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 20px;
}
/* top part start */
#top {
  display: flex;
  height: 400px;
  width: 100%;
  margin-top: 10px;
  /* background: red; */
}
#top-left {
  width: 100%;
}
#top-left h1 {
  padding: 15px;
}
#top-right img {
  height: 100%;
  width: 50%;
  margin-left: 300px;
}
/* middle part start */
#midlle-left img {
  height: 100%;
}
#middle-right a,
#top-left a {
  background-image: linear-gradient(
    to left,
    rgba(182, 12, 12, 0.719),
    rgba(223, 10, 10, 0.966)
  );
  padding: 10px;
  margin-left: 15px;
  text-decoration: none;
  color: rgb(24, 22, 22);

  border-radius: 20px;
}
#top-left p,
#middle-right p {
  padding: 20px;
  margin-bottom: 10px;
  text-align: left;
}
#middle-right h1 {
  margin-left: 20px;
}

h1 span {
  color: rgba(247, 164, 71, 0.973);
}
#middle {
  display: flex;
  height: 400px;
  /* background-color: #cccccc; */
  background-image: url("../food_cart/images/middle.jpg");
}
#middle-right {
  margin-top: 100px;
  margin-left: 300px;
}
/* bottom section  */
#bottom-top h2 {
  text-align: center;
  padding: 20px;
}
#cards {
  display: flex;
}
#card {
  height: 300px;
  width: 280px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 20px;
  margin: 20px;
}
#card img {
  height: 50%;
  width: 92%;
  border-radius: 10px;
  margin: 10px;
}
#card h3,
p {
  text-align: center;
}
#bottom {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  height: 100px;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  text-align: center;
  margin-bottom: 10px;
}
#project {
  padding-left: 100px;
  padding-right: 200px;
  text-align: center;
}
/* footer part */
footer {
  height: 200px;
  background: black;
  align-items: center;
  text-align: center;
}
footer h2 {
  padding: 50px;
  color: rgb(255, 136, 0);
}
footer span {
  color: red;
}
